{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.last_name) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.email) }}
    {{ form_row(form._token) }}

    <fieldset class="form-group">
        {{ form_label(form.addresses) }}
        <div id="client_addresses" data-prototype="{{ form_widget(form.addresses.vars.prototype) | e}}">
            {% for address in form.addresses %}
                {{ form_row(address, {'attr': {'class': 'card card-body bg-light my-2 client-address'}}) }}
            {% endfor %}
        </div>
    </fieldset>

    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form, {'render_rest': false}) }}

